$required-color: #ea0000;
$hint-color: #9f9f9f;
$strength-indicator-color: #00000019;

$primary-default: #007bff;
$primary-default-border: #0070e6;

$secondary-default: #e3e3e3;
$secondary-default-border: #d8d8d8;